.featured{
    height: 90vh;
    position: relative;

    //category box for selecting any genra you want to watch
   .category{
        position: absolute;
        top:80px;
        left: 80px;
        font-size: 30px;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;

        select{
            cursor: pointer;
            background: #000;
            border: 1px solid white

        }
        }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    //foe the info about movie
    .info{
        width: 30%;
        position:absolute;
        left: 50px;
        bottom: 10px;
        color: rgb(255, 254, 254);
        // font: bold;
    }

    .desc{
        margin: 20px 0px;
    }

    .buttons{
        display: flex;

        button{
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: bolder;
            margin-right: 10px ;
            cursor: pointer;

            //for making navbar color changes
            &.play{
                background-color: white;
                color: var(--main-color);
            }
            &.more{
                background-color: grey;
                color: white;
            }
        }

    }


}