.Navbar{
    color: white;
    .Container{
        padding: 0px 50px ;
        display: flex;
        align-items:center ;
        justify-content: space-between;
        height: 70px;

        .left{
            display: flex;
            align-items: center;

            img{

                height: 60px;
                margin-right: 40px;
            }

            span{
                margin-right: 20px;
                cursor: pointer;
            }

        }
        .right{
            display: flex;
            align-items: center;

            .icon{
                margin: 0px 15px;
                cursor: pointer;

            }

            img{
            height: 25px;
            width: 25;
            border-radius: 5px;
            object-fit: cover;
            cursor: pointer;
            }

            .profile{
                .options{
                    display: none;
                }

                //remember sudo class for hover
                &:hover{
                    .options{
                        display: flex;
                    }
                    
                }
            }
        }

        
    }

}